@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<PageTitle>Info User Management </PageTitle>

<BlazoredToasts
    Position="ToastPosition.TopCenter"
    ShowProgressBar="@true"
    MaxToastCount="5" />

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
